body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,menu,
pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
  margin: 0;
  padding: 0;
}
a	{
	text-decoration:none;
}
a:link	{
	color : #000000;
}
a:visited	{
	color : #000000;
}
li{
  list-style-type: none;
}
body{
  font-size: :95%;
  font-family: "Hannari";
  line-height: 1.5;
}
#wrapper{
  width: 1000px;
  margin: 0 auto;
}
#main_image_pc{
    margin-top: 50px;
  width: 800px;
  margin-left: 100px;
}
#main_image_pc img{
  width: 500px;
  margin-left: 150px;
}
#main_image_pc h1{
  text-align: center;
  color: rgb(60, 60, 60);
}
#button p{
  text-align: center;
  width: 150px;
  margin-left: 325px;
  margin-top: 30px;
  padding: 10px 0;
  border-style: solid;
  border-width: thin;
  border-radius:10px 0px 0px 0px;
  border-color: rgb(60, 60, 60);
}
#button p:hover{
  text-align: center;
  width: 150px;
  margin-left: 325px;
  margin-top: 30px;
  padding: 10px 0;
  border-style: solid;
  border-width: thin;
  border-radius:10px 0px 0px 0px;
  border-color: rgb(60, 60, 60);
  background-color: rgb(60, 60, 60);
  color: rgb(255, 255, 255);
}
#main_image_sp img{
  display: none;
}
